#section_secundary {

    background-color: var(--primary_color_section);

    #container_section_secundary {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 7% 1%;
        gap: 12px;

        #section_sencudary_title {
            color: var(--secondary_color_title);
            font-weight: 700;
        }

        #container_text_rich {
            text-align: center;
        }

    }
}

@media (max-width: 1240px) {
    #container_section_secundary {
        flex-direction: column;
    }
}