.button {
    cursor: pointer;
    width: 164px;
    height: 41px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--secondary_color_button);
    border-radius: 8px;
    border: 1px solid var(--secondary_color_button);
    margin: 2% 0;
    background-color: var(--primary_color_button);
}

.button:hover {
    color: var(--primary_color_button);
    border: 1px solid var(--primary_color_button);
    background-color: var(--secondary_color_button);
}