header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    max-height: 54px;
    background-color: #fff;

    .container_title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
        cursor: default;
    
        h1 {
            text-transform: uppercase;
            color: var(--primary_color_title);
    
            span {
                color: var(--secondary_color_title);
            }
        }
    }
}