@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary_color_title: #ffaf14;
  --secondary_color_title: #550312;
  --secondary_color_section: #ffebbe;
  --primary_color_button: #ffaf14;
  --secondary_color_button: #550312;
  --primary_color_border: #DAA520;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

 @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

  #container_home {
    width: 100%;
  }
}