.resume_shop_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 373px;
    height: 506px;
    max-width: 373px;
    max-height: 506px;
    padding: 30px 30px;
    border-radius: 10px;
    background: var(--background);
    box-shadow: 0 0 20px #0000002d;

    .header_resume {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1%;

        #title_resume {
            font-weight: 600;
            margin: 0 0 4% 0;
        }

        .subTotal_resume_value {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 4% 0;
            margin: 2% 0 4% 0;
            font-weight: 400;
            border-bottom: 1px solid #F0F0F0;

            .subTotal {
                font-family: var(--font-nunito-regular);
            }
        }

    }

    .delivery_resume {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2% 0 5% 0;

        #title_delivery_resume {
            font-weight: 600;
            margin: 2% 0;
        }

        .options_delivey_resume {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;

            .option_item {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                width: 100%;
                padding: 3% 0;
                font-family: var(--font-nunito-regular);

                .value_item_delivery {
                    margin: 0 2%;
                }

                .select_delivery_item {
                    width: 13px;
                    height: 13px;
                    margin: 0 4% 0 0;
                    accent-color: #DAA520;
                }
            }
        }
    }

    .resume_total {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2% 0;

        .resume_total_delivery {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;
            font-family: var(--font-nunito-regular);
            font-weight: 400;
            padding: 3% 0;
            margin: 2% 0;
            border-bottom: 1px solid #F0F0F0;
        }
    }

    .submit_shop {
        width: 100%;
        height: 49px;
        font-family: var(--font-nunito-regular);
        font-weight: 600;
        color: #ffffff;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.5s;
        background: linear-gradient(to right, #DAA520, #B8860B);
    }

    .submit_shop:hover {
        color: #000000;
        background: linear-gradient(to right, #9e7817, #7c5b06);
    }
}