@import '../index.css';

#section_primary {
    padding: 3% 1%;
    background-color: var(--secondary_color_section);

    .container_section_primary {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        .information {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: var(--font-nunito-regular);
            max-width: 600px;
            padding: 1%;

            #section_primary_title {
                color: var(--secondary_color_title);
                font-weight: 700;

            }

            .container_text {
                font-family: var(--font-nunito-regular);
                margin: 2% 0;

                p {
                    font-size: 1rem;
                    text-align: justify;
                    font-weight: 400;
                }
            }
        }

        #container_image {
            max-width: 496px;
            max-height: 496px;
            min-height: 350px;
            min-width: 350px;

            #image_primary {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    max-height: 496px;
                }
            }
        }
    }
}

@media (max-width: 820px) {
    .container_section_primary {
        flex-direction: column-reverse;
        align-items: center;
    }

    .information {
        align-items: center;

        .container_title {
            text-align: center;
        }

        .container_text {
            text-align: center;
        }
    }
}