#container_shop_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: min-content;
    background-color: #F8F4F0;

    #container_shop_page_title {
        font-weight: 600;
        margin: 3% 0;
    }

    #container_shop_page_content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 5%;
        width: 100%;
        max-height: 600px;
        padding: 2%;

        #content_itens {
            overflow-y: auto;
            width: 100%;
            height: 90%;
        }

        .footer_cart {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            width: 100%;
        }

    }

    .select_back_home {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
        left: 15%;

        #back_icon {
            min-width: min-content;
            min-height: min-content;
            margin: 0 5%;
        }

        a {
            display: flex;
            color: #8B4513;
            align-items: center;
            text-align: center;
            font-size: 1rem;
            font-weight: 400;
            font-family: var(--font-nunito-regular);
            text-wrap: nowrap;
        }
    }

    .allClear_content {
        background-color: red;

        button {
            cursor: pointer;
        }
    }
}

@media (max-width: 1040px) {
    #container_shop_page_content {
        flex-direction: column;
    }
}